numpy
scipy       # pip installiert automatisch aktuelle stabile Version
pandas      # idem
scikit-learn  # idem
matplotlib    # idem
seaborn       # idem
ipykernel     # idem
ipywidgets    # idem
tensorflow
tensorflow_io
tensorflow-hub
tflite-runtime
pydub     # pip installiert automatisch aktuelle stabile Version
mlflow
fastapi
uvicorn
python-multipart
