numpy==2.3.3
scipy==1.16.2
scikit-learn==1.7.2
matplotlib==3.10.6
seaborn==0.13.2
ipykernel==6.30.1
ipywidgets==8.1.7
tensorflow==2.20.0
tensorflow-io==0.37.1
tensorflow-hub==0.16.1
tflite-runtime==2.14.0
pydub==0.25.1
mlflow==3.4.0
fastapi==0.116.2
uvicorn==0.35.0
python-multipart==0.0.20